.b-shadow{
    box-shadow:0px 5px 10px #dfe0e0;
}
.navbar-brand{
    background-color: #ffffff;
}
.navbar .badge{
    top: -40%;
    right: 100%;
}
.navbar img{
    width:20px;
}
button , button > h6 , .navbar .badge{
    font-size: 0.6rem;
}
